@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-next {
  right: 0.5px !important;
}

.slick-prev {
  left: 70.5px !important;
}

.slick-prev::before {
  content: '' !important;
}

.slick-next::before {
  content: '' !important;
}

.slick-prev,
.slick-next {
  width: 100px !important;
  height: 79px !important;
  background-color: transparent !important;
  bottom: -169px !important;
  top: auto !important;
  left: auto !important;
  z-index: 5 !important;
}

@media (max-width: 815px) {
  .slick-prev,
  .slick-next {
    height: 57px !important;
    bottom: -102px !important;
  }
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background-color: transparent !important;
}
